/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #005EB8;
    --color-sky: #2196F3;
    --color-white: #FCFCFC;
    --min-app-width: 50%;
    --max-app-width: 100%;
    --header-height: 120px;
}

body {
    min-height: 100dvh;
    margin: 0 auto;
    width: clamp(var(--min-app-width), 70dvw, var(--max-app-width));
    color: var(--color-white);
    background: var(--color-blue);
    font-family: 'Google Sans';
    background: linear-gradient(var(--color-blue), var(--color-sky));
    background-attachment: fixed;
    color: black;
}

/* ==================== HEADER ==================== */

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

header h1 {
    color: var(--color-white);
}

.btn-menu {
    background: transparent;
    border: 0px;
    color: var(--color-white);
    font-size: 32px;
    cursor: pointer;
}

.hero {
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .hero-stat {
        font-size: 24px;
        color: white;
    }

    .hero-value {
        font-size: 1.5em;
        font-weight: bold;
    }
}

.app-header {
    position: relative;
    z-index: 1;
}

.main-nav {
    position: absolute;
    top: 75%;
    right: 2rem;
    background-color: var(--color-white);
    border-radius: 12px;
    padding: 1rem;
    min-width: 200px;
    box-shadow: 0 10px 25px rgba(00, 5E, B8, 0.2);
}

.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 600;
    display: block;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background 0.2s;
}

.main-nav a:hover {
    background-color: rgba(0, 94, 184, 0.1);
}

.main-nav[hidden] {
    display: none;
}

/* ==================== MAIN ==================== */

.app {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    background: var(--color-white);
    border-radius: 15px;
    transition: all ease-in-out 100ms;
    cursor: pointer;
}

.card:hover {
    scale: 1.05;
    box-shadow: 0 0 15px 1px white;
    transition: all ease-in-out 300ms;
}

.card-title {
    text-wrap: pretty;
}

.card-link {
    padding: 4%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.card-image {
    width: 64px;
    height: 64px;
    aspect-ratio: 1 / 1;
    margin-right: clamp(5%, 25px, 12px);
    object-fit: contain;
    border-radius: 10px;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-pricing {
    text-align: right;
}

.card-price {
    font-weight: bold;
    font-size: 1.5em;
}

/* ==================== FOOTER ==================== */

footer {
    bottom: 0;
    padding: 4% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.github-icon {
    color: var(--color-white);
    background: transparent;
    transition: transform 100ms ease-in-out;
}

.github-icon:hover {
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
}

/* Media queries (min.width: 540px)*/

@media (width <=720px) {

    .card-title,
    .card-price {
        font-size: 1rem;
    }

    .card-category,
    .card-period {
        font-size: 0.75rem;
    }

    .hero .hero-value {
        font-size: 1em;
    }

    .hero-label {
        font-size: 0.75rem;
    }
}